<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pokedex_pruebas"
        tools:targetApi="31">
        <activity
            android:name=".interfaz.ComposePerfilUsuarioActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_perfil_usuario"
            android:theme="@style/Theme.Pokedex_pruebas" />
        <activity
            android:name=".interfaz.ComposeLoginActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_login"
            android:theme="@style/Theme.Pokedex_pruebas" />
        <activity
            android:name=".interfaz.ComposeCreaUser"
            android:exported="false"
            android:label="@string/title_activity_compose_crea_user"
            android:theme="@style/Theme.Pokedex_pruebas" />
        <activity
            android:name=".interfaz.ComposeListaActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_lista"
            android:theme="@style/Theme.Pokedex_pruebas"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".old.SplashActivity"
            android:exported="true"
            android:theme="@style/TemaLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".old.ListaActivity"
            android:exported="false"
            android:theme="@style/TemaLight" />
        <activity android:name=".old.VistaActivity" />
        <activity android:name=".interfaz.ComposeVistaActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>



    </application>

</manifest>